@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">Salles Web MVC App from csharp Course in 2024 ASP.NET Core</a>.</p>
    <p>Developer: Giovani V. Chaves Creating my first MVC application</p>
    <p>@ViewData["Email"]</p>
</div>
